.s-grid-banner {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;

  .c-lazy-video {
    display: inline;
  }

  &__media-content {
    display: block;
  }

  &__inner {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--reverse-desktop {
      @media screen and (min-width: 920px) {
        .s-grid-banner__content {
          order: 2;
        }

        .s-grid-banner__background {
          order: 1;
        }
      }
    }

    &--reverse-mobile {
      @media screen and (max-width: 919px) {
        .s-grid-banner__content {
          order: 2;
        }

        .s-grid-banner__background {
          order: 1;
        }
      }
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    order: 1;
    background-color: #f6f5f0;
    text-align: center;

    @media screen and (min-width: 920px) {
      aspect-ratio: 1.14285714286;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 100%;
    row-gap: 12px;

    @media screen and (min-width: 920px) {
      row-gap: 16px;
    }
  }

  &__title-wrapper, &__subtitle-wrapper, &__link-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
  }

  &__title {
    font-family: var(--font-body);
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  &__subtitle {
    font-family: var(--font-body);
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.08px;
  }

  &__link,
  &__text {
    font-family: var(--font-body);
    font-style: normal;
    line-height: 180%;
    letter-spacing: -0.08px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: transparent;
    }

    @media screen and (min-width: 768px) {
      &:hover::after {
        animation: hover 0.8s ease-in-out;
      }
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    order: 2;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 920px) {
      aspect-ratio: 1.14285714286;
    }
  }

  &__swatches {
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 14px;
    z-index: 2;
  }

  &__swatches-slide {
    width: 14px;
    height: 14px;
    cursor: pointer;

    &.swiper-slide-thumb-active::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      width: 4px;
      height: 4px;
      background-color: #fff;
    }
  }

  &__slider {
    display: block;
    height: 100%;
  }

  &__slide {
    display: block;
    height: 100%;

    & > a,
    & > div {
      width: 100%;
      height: 100%;
    }
  }

  &__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;

    &--mobile {
      display: flex;

      @media screen and (min-width: 920px) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media screen and (min-width: 920px) {
        display: flex;
      }
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;

    &--mobile {
      display: flex;

      @media screen and (min-width: 920px) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media screen and (min-width: 920px) {
        display: flex;
      }
    }

    &::-webkit-media-controls-panel {
      display: none !important;
      -webkit-appearance: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: -9999px;
    }
    &::-webkit-media-controls-play-button {
      display: none !important;
      -webkit-appearance: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: -9999px;
    }
    &::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: -9999px;
    }
  }

  video[controls]::-webkit-media-text-track-container.visible-controls-bar {
    display: none !important;
  }

  video[controls]::-webkit-media-text-track-container.media-controls {
    display: none !important;
  }

  video[controls]::-webkit-media-text-track-container.play-pause {
    display: none !important;
  }

  *::-webkit-media-controls-panel {
    display: none !important;

    -webkit-appearance: none;
    position: absolute;
    top: -9999px;
  }

  *::--webkit-media-controls-play-button {
    display: none !important;

    -webkit-appearance: none;
    position: absolute;
    top: -9999px;
  }

  *::-webkit-media-controls-start-playback-button {
    display: none !important;

    -webkit-appearance: none;
    position: absolute;
    top: -9999px;
  }

  @keyframes hover {
    0% {
      transform: translateX(0);
    }
    49% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
