.s-support-hub-header {
  display: block;
  border-bottom: 1px solid rgba(57, 33, 11, 0.16);

  &__container {
    padding: 16px 16px;

    @media screen and (min-width: 768px) {
      padding-inline: 40px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }
  }

  &__breadcrumb {
    color: var(--Leather, #39210b);

    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration-color: #c7c5c3;
    text-underline-offset: 6px;

    transition: all 0.2s ease;

    @media screen and (min-width: 768px) {
      font-size: 16px;

      &:hover {
        text-decoration-color: #150c06;
      }
    }
  }

  &__breadcrumb-separator {
    color: var(--Leather, #39210b);

    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &__search {
    position: relative;

    &.is-empty {
      .s-support-hub-header__clear-search-icon {
        transform: scale(0);
      }
    }
  }

  &__search-icon {
    position: absolute;
    left: 14px;
    top: 13px;

    svg {
      width: 22px;
      height: 22px;
      opacity: 0.54;
      transition: all 0.2s ease;

      path {
        fill: rgba(21, 12, 6, 0.24);
        transition: all 0.2s ease;
      }
    }
  }

  &__clear-search-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    transition: all 0.2s ease;
    transform: scale(1);

    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: #150c06;
      }
    }
  }

  &__input {
    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 48px;

    padding: 13px 36px 13px 44px;

    color: #150c06;
    border: 1px solid rgba(21, 12, 6, 0.24);
    outline: none;
    transition: all 0.2s ease;
    width: 100%;

    &:focus {
      border-color: #150c06;

      & + .s-support-hub-header__search-icon svg path {
        fill: #150c06;
      }
    }

    &::placeholder {
      color: rgba(21, 12, 6, 0.54);
    }

    &:not(:placeholder-shown) + .s-support-hub-header__search-close-icon {
      opacity: 1;
    }

    @media screen and (min-width: 768px) {
      width: 328px;
    }
  }
}
