.s-popular-faq {
  position: relative;

  &__image-wrapper {
    width: 100%;

    &.desktop {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &.mobile {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__image-transition {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    background-color: #e7e5db;
  }

  &__container {
    padding: 32px 16px 16px 16px;

    max-width: 696px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      padding: 64px 0 32px;
    }
  }

  &__info {
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 594px;
    }
  }

  &__content {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__header-title {
    color: #150c06;
    font-family: var(--font-heading);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &__header-button {
    color: #150c06;
    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: underline;
    text-decoration-color: rgba(21, 12, 6, 0.24);
    text-underline-offset: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    & .s-popular-faq__header-button-view {
      display: block;
    }

    & .s-popular-faq__header-button-hide {
      display: none;
    }

    &.is-active {
      & .s-popular-faq__header-button-view {
        display: none;
      }

      & .s-popular-faq__header-button-hide {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      &:hover {
        text-decoration-color: #150c06;
      }
    }
  }

  &__header-button-view {
    display: none;
  }

  &__header-button-hide {
    display: none;
  }

  &__questions {
    margin-top: 0;

    @media screen and (min-width: 768px) {
      margin-top: 24px;
    }
  }

  &__questions-item {
    position: relative;
    border-bottom: 1px solid rgba(57, 33, 11, 0.16);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: currentColor;

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.6s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &.is-active {
      .s-popular-faq__button-icon-plus {
        animation: scaleY 0.3s forwards;
      }

      .s-popular-faq__button-icon-minus {
        opacity: 1;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 12px;
  }

  &__button-text {
    position: relative;
    color: #150c06;
    font-family: var(--font-body);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
  }

  &__button-icon-minus {
    position: absolute;
    inset: 0;
    top: -3px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__button-icons {
    position: relative;
  }

  &__button-icon-plus {
    display: block;
    animation: scaleY1 0.4s forwards;
  }

  &__answer {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
    margin-bottom: 12px;

    p {
      margin-top: 12px;
      color: #39210b;
      font-family: var(--font-body);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      @media screen and (min-width: 768px) {
        color: #150c06;
      }

      a {
        color: #39210b;
        font-family: var(--font-body);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        border-bottom: 1px solid rgba(21, 12, 6, 0.24);
        text-decoration: none;

        @media screen and (min-width: 768px) {
          color: #150c06;
        }
      }
    }
  }
}

@keyframes scaleY {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes scaleY1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes displayBlock {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
